<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sports.sports.mapper.VenueMapper">

    <sql id="Base_Column_List">
        id, name, location, capacity, type, status, description, deleted, create_time, update_time
    </sql>

    <select id="selectVenuePage" resultType="com.sports.sports.entity.Venue">
        SELECT <include refid="Base_Column_List" />
        FROM t_venue
        WHERE deleted = 0
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
